<!doctype html>
<html lang="de">
<meta charset="utf-8">
<head>
	<style>
		html, body, #placeholder {{
			height: 100%;
			width: 100%;
		}}

		#placeholder {{
			display: block;
			width: 100%;
			border: 1px solid black;
			float: left;
			box-sizing: border-box;
		}}

		ul li {{
			list-style: disc;
		}}

		ol li {{
			list-style: decimal;
		}}

		table {{
			border: 1px solid black;
			border-collapse: collapse;
		}}

		th, td {{
			border: 1px solid black;
			padding: 10px;
		}}
	</style>
</head>
<body>
<div id="placeholder">{output}</div>
</body>
</html>
